<!-- Begin header -->
<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <%= image_tag current_user.avatar_url %>
      <h1 class="profile-information">
        <%= current_user.first_name %>
      </h1>
      <h2>
        <button type="button" class="settings" data-toggle="modal" data-target="#myModal">
          Edit profile
        </button>
      </h2>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Edit Details</h4>
            </div>
            <div class="modal-body">
              <%= simple_form_for(current_user) do |f| %>
                <%= f.input :first_name %>

                  <%= f.input :last_name %>
                    <%= f.input :photo, placeholder: "Insert new picture" %>
                      <%= f.input :photo_cache, as: :hidden %>
                        <%= f.input :phone, placeholder: "Insert new number" %>
                          <%= f.button :submit %>
                            <% end %>

            </div>
          </div>
        </div>
      </div>

      <div class="container if_verified">
        <% if current_user.verified? %>
          <p>
            <button type="button" class="verified-button">
              <i class="fas fa-check"></i> Verified
            </button>
          </p>
          <% else -%>
            <% end -%>
              <% if !current_user.verified? %>
                <p>
                  <button type="button" class="not-verified-button">
                    <%= link_to "Get Verified", phone_validation_path, class: 'verified-tag' %>
                  </button>
                </p>
                <% end -%>
      </div>
      <h2 class="profile-information">
      <% counter = 0 %>
        <% @tickets.each do |ticket| %>
          <% if ticket.seller.id === current_user.id && ticket.buyer_id != nil %>
            <% counter = counter + 1 %>
          <% end %>

        <% end %>
        <i class="fas fa-ticket-alt"></i> <p>Sold: <%= "#{counter}" %></p>

      </h2>


    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item active">
      <a class="nav-link active dashboard-tab" id="purchased-tab" data-toggle="tab" href="#purchased" role="tab" aria-controls="purchased"
        aria-selected="true">Purchased</a>
    </li>
    <li class="nav-item">
      <a class="nav-link dashboard-tab" id="selling-tab" data-toggle="tab" href="#selling" role="tab" aria-controls="selling" aria-selected="false">Selling</a>
    </li>
    <li class="nav-item">
      <a class="nav-link dashboard-tab" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request" aria-selected="false">Request</a>
    </li>
    <li class="nav-item">
      <a class="nav-link dashboard-tab" id="report-tab" data-toggle="tab" href="#report" role="tab" aria-controls="report" aria-selected="false">Report</a>
    </li>
  </ul>

</div>
</div>

<!-- End of header -->

<!-- Beginning body -->

<div class="wrapper">
  <div class="container">
    <div class="tab-content">
      <div class="tab-pane active" id="purchased" role="tabpanel" aria-labelledby="purchased-tab">
        <!-- purchased TAB -->
        <!-- Rails purchased content -->
        <% @tickets.each do |ticket| %>
          <% if ticket.buyer_id == current_user.id %>
            <%= link_to ticket_path(ticket) do %>
              <div class="card">
                <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                <div class="card-description">
                  <h2>
                    <%= ticket.seller.first_name %>
                      <%= ticket.seller.last_name.chars.first %>.</h2>
                  <p class="verified">
                    <i class="fas fa-user-check"></i> Verified</p>
                </div>
                <div class="card-description destination">
                  <h2>
                    <%= ticket.departing_city %> →
                      <%= ticket.arrival_city %>
                  </h2>
                  <p class="grey-text">○ London central station</p>
                  <p class="grey-text">○ Paris central station</p>
                </div>
                <div class="card-description date">
                  <h5>
                    <%= ticket.date.strftime("%d %B %Y") %>

                  </h5>
                </div>
                <div class="card-description price">
                  <h5 id="ticket-price">
                    <%= humanized_money_with_symbol(ticket.price) %>
                  </h5>
                </div>
                <div class="card-category label-green">
                  <p>Paid</p>
                </div>
                <div class="card-category btn-download">
                  <p>Download
                    <i class="fas fa-download"></i>
                  </p>
                </div>
              </div>
            <% end %>
          <% else %>
            <% @toggle = 'on' %>
          <% end %>
        <% end %>

        <% if @toggle == 'on' %>
          <div class="card empty-card">
              <p class="text-center">You haven't purchased any tickets yet.</p>
          </div>
        <% end %>
                    <!-- Rails buy content ends -->
                    <!-- BUY TAB ENDS -->
      </div>
      <div class="tab-pane" id="selling" role="tabpanel" aria-labelledby="selling-tab">
        <% @tickets.each do |ticket| %>
          <% if ticket.seller.id == current_user.id && ticket.buyer_id === nil %>
            <h3>Selling</h3>
            <%= link_to ticket_path(ticket) do %>
              <div class="card">
                <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                <div class="card-description">
                  <h2>
                    <%= ticket.seller.first_name %>
                      <%= ticket.seller.last_name.chars.first %>.</h2>
                  <p class="verified">
                    <i class="fas fa-user-check"></i> Verified</p>
                </div>
                <div class="card-description destination">
                  <h2>
                    <%= ticket.departing_city %> →
                      <%= ticket.arrival_city %>
                  </h2>
                  <p class="grey-text">○ London central station</p>
                  <p class="grey-text">○ Paris central station</p>
                </div>
                <div class="card-description date">
                  <h5>
                    <%= ticket.date.strftime("%d %B %Y") %>
                  </h5>
                </div>
                <div class="card-description price">
                  <h5 id="ticket-price">
                    <%= money_without_cents_and_with_symbol(ticket.price) %>
                  </h5>
                </div>
                <div class="card-category btn-treehouse">
                  <%= link_to 'Delete', ticket_path(ticket), method: :delete %>
                </div>
              </div>
            <% end %>
          <% elsif ticket.seller.id === current_user.id && ticket.buyer_id != nil %>
            <h3>Sold</h3>
            <%= link_to ticket_path(ticket) do %>
              <div class="card sold-card">
                <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                <div class="card-description">
                  <h2>
                    <%= ticket.seller.first_name %>
                      <%= ticket.seller.last_name.chars.first %>.</h2>
                  <p class="verified">
                    <i class="fas fa-user-check"></i> Verified</p>
                </div>
                <div class="card-description destination">
                  <h2>
                    <%= ticket.departing_city %> →
                      <%= ticket.arrival_city %>
                  </h2>
                  <p class="grey-text">○ London central station</p>
                  <p class="grey-text">○ Paris central station</p>
                </div>
                <div class="card-description date">
                  <h5>
                    <%= ticket.date.strftime("%d %B %Y") %>
                  </h5>
                </div>
                <div class="card-description price">
                  <h5 id="ticket-price">
                    <%= money_without_cents_and_with_symbol(ticket.price) %>
                  </h5>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
                    <!-- Rails selling content ends -->
      </div>


      <div class="tab-pane" id="request" role="tabpanel" aria-labelledby="request-tab">
      </div>

      <div class="tab-pane" id="report" role="tabpanel" aria-labelledby="report-tab">
      </div>


  </div>
</div>
</div>
<!-- Ending body -->

</body>

</html>
