<div class="phone-container">
  <div class="ticket-container">
    <div class="row">
      <h4 class="text-center ">Sell your tickets faster, get verified in 3 easy steps...</h4>
      <div class="col-md-offset-3 col-md-6">
        <h5 class="text-center verification"> <i class="far fa-id-card"></i><b> Step 1: ID verification</b></h5>
          <%= simple_form_for(current_user) do |f| %>
            <%= f.label :first_name, "First name " %>
              <%= f.text_field :first_name, class: "form-control ", placeholder: "#{current_user.first_name} ", :hint => "Please insert full legal name" %>
            <%= f.label :last_name, "Last name " %>
              <%= f.text_field :last_name, class: "form-control ", placeholder: "#{current_user.last_name} " %>
            <%= f.input :identitycard, :label => "Identity card", :hint => "Please upload front side of your identity card" %>
            <%= f.input :photo_cache, as: :hidden %>
          <% end %>
      </div>
      <div class="col-md-offset-3 col-md-6">
        <h5 class="text-center verification "> <i class="fas fa-phone"></i><b> Step 2: Phone verification</b></h5>
        <%= form_for(current_user, url: create_validation_path, method: "post") do |f| %>
          <div class="form-group ">
            <%= f.label :country_code, "Country code" %>
              <%= f.text_field :country_code, class: "form-control", id: "authy-countries", placeholder: "Eg. 49" %>
          </div>
          <div class="form-group">
            <%= f.label :phone, "Phone number" %>
              <%= f.text_field :phone, class: "form-control", id: "authy-cellphone", placeholder: "Eg. 17621483811", :hint => "Remove leading zero" %>
          </div>
          <%= f.hidden_field :id, :value => current_user.id %>
          <button class="verified-button">Get Verified</button>
          <% end -%>
            <% if current_user.errors.any? %>
              <h2>Oops, something went wrong!</h2>
              <ul>
                <% current_user.errors.full_messages.each do |error| %>
                  <li>
                    <%= error %>
                  </li>
                  <% end -%>
              </ul>
              <% end -%>
      </div>
    </div>
  </div>
</div>
