<div>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1506818144585-74b29c980d4b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6fcc448f1c3bf2c4fac6ae51ae7b981c&auto=format&fit=crop&w=2100&q=80');">
  <div class="banner-content">
    <h1>Easyticks</h1>
    <p>The quickest way to buy and sell unusued train tickets</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>

  <div class="search form">
    <%= simple_form_for [@host, @booking] do |f| %>
    <%= f.input :pet_name %>
    <%= f.input :start_date, as: :string, input_html: { class: 'datepicker' } %>
    <%= f.input :end_date, as: :string, input_html: { class: 'datepicker' } %>

    <%= f.submit "Search now!", class: "btn btn-primary_book" %>
    <% end %>
    </div>
  </div>
</div>
