<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1506818144585-74b29c980d4b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6fcc448f1c3bf2c4fac6ae51ae7b981c&auto=format&fit=crop&w=2100&q=80');">
<div class="banner-content">
<h1>Easyticks</h1>
<p>Buy and sell unusued train tickets, fast and safe</p>


<div class="search_form_home">
  <%= form_tag tickets_path, method: :get do %>
  <%= select_tag "departing_city", options_for_select([ "London", "Paris", "Brussels", "Amsterdam" ], "From") %>
  <%= select_tag "arrival_city", options_for_select([ "Paris", "Brussels", "London", "Amsterdam" ], "To") %>
  <%= text_field_tag :date, nil, id: "datepicker-input" %>
  <%= submit_tag "Search", name: nil %>
<% end %>
</div>

</div>
</div>


<%= javascript_pack_tag 'datepicker' %>
