<h1>Welcome on board !</h1>

<p>Your booking reference is <%= @ticket.booking_reference %> under the last name <%= @ticket[:name] %></p>
<p><i class="far fa-calendar-alt"></i> <%= @ticket[:date] %> </p>
<p><i class="far fa-clock"></i> <%= @ticket[:time] %></p>
<p><i class="fas fa-euro-sign"></i> <%= @ticket[:price] %> </p>
