



<div class="wrapper">
  <div class="container">
  <% @tickets.each do |ticket| %>
    <div class="card">
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
      <div class="card-description">
        <h2><%= ticket.seller.firstname %> <%= ticket.seller.lastname.chars.first %>.</h2>
        <p class="verified"><i class="fas fa-user-check"></i> Verified</p>
      </div>
      <div class="card-description destination">
        <h2><%= ticket.departing_city %> → <%= ticket.arrival_city %></h2>
        <p class="grey-text">○ London central station</p>
        <p class="grey-text">○ Paris central station</p>
      </div>
      <div class="card-description date">
        <h5><%= ticket.date %></h5>
      </div>
      <div class="card-description price">
        <h5 id="ticket-price"><%= ticket.price %><span id="euro">€</span></h5>
      </div>
      <a href="#" class="card-category btn-treehouse">Buy now</a>
    </div>
    <% end %>
  </div>
</div>







