<div class="container">
  <div class="ticket-container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">

        <h2>Sell your ticket</h2>

        <%= simple_form_for [@ticket] do |f| %>

          <%= f.input :departing_city, :collection => %w[London Brussels Paris Amsterdam], selected: "London" %>
          <%= f.input :arrival_city, :collection => %w[London Brussels Paris Amsterdam], selected: "Paris" %>
          <%= f.input :date, as: :string, input_html: { id: 'datepicker-input', value: "#{Time.new}" } %>
          <%= f.input :booking_reference, as: :string, placeholder: 'AHDEHDH' %>
          <%= f.input :name_on_ticket, as: :string, placeholder: 'Jane Doe' %>
          <%= f.input :price, input_html: { value: 'eg. 67', min: '0', step: 'any' }, placeholder: " " %>

            <%= f.submit "Sell", class: "ticket-action" %>

          <% end %>

          <%= javascript_pack_tag 'datepicker' %>

      </div>
    </div>
  </div>
</div>
