<div class="ticket-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">

      <h1>Sell your ticket</h1>

      <%= simple_form_for [@ticket] do |f| %>

        <%= f.input :departing_city, :collection => %w[London Brussels Paris Amsterdam] %>
        <%= f.input :arrival_city, :collection => %w[London Brussels Paris Amsterdam] %>
        <%= f.input :date, as: :string, input_html: { id: 'datepicker-input' } %>
        <%= f.input :booking_reference, as: :string %>
        <%= f.input :name_on_ticket, as: :string %>
        <%= f.input :price, input_html: { min: '0', step: 'any' } %>

        <%= f.submit "Confirm", class: "ticket-action" %>
      <% end %>

        <%= javascript_pack_tag 'datepicker' %>

    </div>
  </div>
</div>
