<div class="ticket-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">

      <h1>Ticket details</h1>

      <p>
        <i class="fas fa-train"></i> From
        <%= @ticket[:departing_city] %> to
          <%= @ticket[:arrival_city] %>
      </p>
      <p>
        <i class="far fa-calendar-alt"></i>
        <%= @ticket[:date] %>
      </p>
      <p>
        <i class="far fa-clock"></i>
        <%= @ticket[:time] %>
      </p>
      <p>
        <i class="fas fa-money-bill"></i>
        <%= @ticket[:price_cents] %>€</p>
      <p>
        <i class="far fa-user"></i>
        <%= @ticket.seller.first_name %>
          <%= @ticket.seller.last_name.chars.first %>
      </p>

      <!-- app/views/payments/new.html.erb -->
      <h1>Purchase of Ticket
        <%= @ticket_id %>
      </h1>
      <%= form_tag ticket_payments_path(@ticket) do %>
        <article>
          <label class="amount">
            <span>Amount:
              <%= humanized_money_with_symbol(@ticket.price) %>
            </span>
          </label>
        </article>


        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="My Ticket" data-email="<%= current_user.email %>" data-description="Ticket <%= @ticket_id %>" data-amount="<%= @ticket.price %>"
          data-currency="<%= @ticket.amount_cents %>"></script>
        <% end %>
    </div>
  </div>
</div>