<% content_for :meta_title, "Buy your ticket easy and cheap with Easyticks" %>
<% content_for :meta_description, "Ticket from <%= @ticket.departing_city %> → <%= @ticket.arrival_city %>" %>
<% content_for :meta_image, "https://i.imgur.com/yHGEhDr.jpg" %>

<div class="container-fluid no-padding">
  <div class="row">
  <div class="col-md-12 no-padding">
    <% if @ticket[:arrival_city].downcase == "paris" %>
      <img class="city-hero" src="https://i.imgur.com/yHGEhDr.jpg" class="img-responsive"/>
    <% elsif @ticket[:arrival_city].downcase == "london" %>
      <img class="city-hero" src="https://i.imgur.com/OfTByzX.jpg" class="img-responsive"/>
    <% elsif @ticket[:arrival_city].downcase == "brussels" %>
      <img class="city-hero" src="https://i.imgur.com/VRCNBpr.jpg" class="img-responsive"/>
    <% elsif @ticket[:arrival_city].downcase == "amsterdam" %>
      <img class="city-hero" src="https://i.imgur.com/5Y6OpZf.jpg" class="img-responsive"/>
    <% end %>
  </div>
    </div>
</div>

<div class="wrapper-grey">
  <div class="container show-container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <h2 class="text-center"><span class="lighter"><%= @ticke.departing_city %> → <%= @ticket.arrival_city %></span></h2>
        <p class="text-center"><span class="lighter">Departs: <%= @ticket.date.strftime("%d %B %Y") %></span></p>
      </div>
      <div class="col-sm-offset-3 col-sm-6 text-center">
        <div class="card-user-show mx-auto d-block">
          <%= image_tag(@ticket.seller.avatar_url)  %>
        </div>
      </div>
      <div class="col-sm-offset-3 col-sm-6">
        <h3 class="text-center h3-name"><span class="lighter"><%= @ticket.seller.first_name %> <%= @ticket.seller.last_name.chars.first %>.</span></h3>
      </div>
      <div class="col-sm-offset-3 col-sm-6">
        <p class="text-center"><span class="lighter">Sold: <%= @seller_tickets_count %> tickets</span></p>
      </div>
      <div class="col-md-offset-3 col-md-3">
        <p class="text-center"><span class="lighter"><i class="fas fa-lock"></i> Secure payment</span></p>
      </div>
      <div class="col-md-3">
        <p class="text-center"><span class="lighter">
           <% if @ticket.seller.verified? %>
                <i class="fas fa-user-shield"></i> Verified seller</span>
            <% else -%>
            <% end -%>
            <% if !@ticket.seller.verified? %>
              <i class="fas fa-user-shield"></i> Verified seller</span>
           <% end %>
           </p>
      </div>
      <div class="divider div-transparent div-arrow-down"></div>
      <div class="col-sm-offset-3 col-sm-6">
        <h2 class="text-center"><%= humanized_money_with_symbol(@ticket.price) %></h2>
      </div>
      <div class="col-sm-offset-3 col-sm-6 text-center pay-col">
        <%= form_tag ticket_payments_path(@ticket) do %>
          <% if current_user %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="My Ticket" data-email="<%= current_user.email  %>" data-description="Ticket <%= @ticket_id %>" data-amount="<%= @ticket.price_cents %>"
            data-currency="<%= @ticket.price.currency %>"></script>
          <% end %>
        <% end %>
        <% if !current_user %>
          <%= link_to new_user_session_path do %>
            <button type="submit" class="stripe-button-el" style="visibility: visible;"><span style="display: block; min-height: 30px;">Pay with Card</span></button>
          <% end %>
        <% end %>
      </div>
  </div>
</div>



