<head>
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700i|Tajawal:400,500,700" rel="stylesheets/layouts/_show">
</head>

<div class="container_ticket_box">
  <div class="container_ticket_header">
    <p>🚆 Get aboard the train from
      <%= @ticket[:departing_city] %> to
        <%= @ticket[:arrival_city] %>
    </p>
  </div>
  <div class="container_ticket_deets">
    <div class="price">
      <p>Date:
        <%= @ticket[:date] %>
      </p>
    </div>
    <div class="date">
      <p> Date:
        <%= @ticket[:date] %> | Time:
          <%= @ticket[:time] %>
      </p>
    </div>
    <div class="price">
      <p>Cost: €
        <%= @ticket[:price] %>
      </p>
    </div>
    <div class="name_seller">
      <p>Ticket Seller:
        <%= "#{@ticket.seller.firstname} #{@ticket.seller.lastname}" %>
      </p>
    </div>
    <%= form_tag edit_ticket_path do %>
      <%= hidden_field_tag 'ticket_id', @ticket.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
          <% end %>
  </div>
</div>