<div class="container-fluid no-padding">
  <div class="row">
  <div class="col-md-12 no-padding">
    <% if @ticket[:arrival_city].downcase == "paris" %>
      <img class="city-hero" src="https://i.imgur.com/yHGEhDr.jpg" class="img-responsive"/>
    <% elsif @ticket[:arrival_city].downcase == "london" %>
      <img class="city-hero" src="https://i.imgur.com/OfTByzX.jpg" class="img-responsive"/>
    <% elsif @ticket[:arrival_city].downcase == "brussels" %>
      <img class="city-hero" src="https://i.imgur.com/H7RIjti.jpg" class="img-responsive"/>
    <% elsif @ticket[:arrival_city].downcase == "amsterdam" %>
      <img class="city-hero" src="https://i.imgur.com/5Y6OpZf.jpg" class="img-responsive"/>
    <% end %>
  </div>
    </div>
</div>

<div class="wrapper-white">
  <div class="container show-container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <h2 class="text-center"><span class="lighter"><%= @ticket[:departing_city] %> → <%= @ticket[:arrival_city] %></span></h2>
        <p class="text-center"><span class="lighter">Departs: <%= @ticket.date.strftime("%d %B %Y") %></span></p>
      </div>
      <div class="col-sm-offset-3 col-sm-6 text-center">
        <img class="card-user-show mx-auto d-block" src="http://i.pravatar.cc/300">
      </div>
      <div class="col-sm-offset-3 col-sm-6">
        <h3 class="text-center h3-name"><span class="lighter"><%= @ticket.seller.first_name %> <%= @ticket.seller.last_name.chars.first %>.</span></h3>
      </div>
      <div class="col-sm-offset-3 col-sm-6">
        <p class="text-center"><span class="lighter">Sold: 12 tickets</span></p>
      </div>
      <div class="col-md-offset-3 col-md-3">
        <p class="text-center"><span class="lighter"><i class="fas fa-lock"></i> Secure payment</span></p>
      </div>
      <div class="col-md-3">
        <p class="text-center"><span class="lighter"><i class="fas fa-user-shield"></i> Verified user</span></p>
      </div>
      <div class="divider div-transparent div-arrow-down"></div>
      <div class="col-sm-offset-3 col-sm-6">
        <h2 class="text-center"><%= humanized_money_with_symbol(@ticket.price) %></h2>
      </div>
      <div class="col-sm-offset-3 col-sm-6 text-center pay-col">
        <%= form_tag ticket_payments_path(@ticket) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="My Ticket" data-email="<%= current_user.email %>" data-description="Ticket <%= @ticket_id %>" data-amount="<%= @ticket.price %>"
            data-currency="<%= @ticket.price_cents %>"></script>
          <% end %>
      </div>
  </div>
</div>